.work {
	padding-bottom: 96px;
	&__category-filter {
		list-style: none;
		gap: 16px;

		li {
			padding-left: 11px;
		}

		&__item {
			letter-spacing: -0.16px;
			line-height: normal;

			&:hover {
				color: $purple !important;
			}
		}

		&__item.active {
			color: $purple !important;
		}
	}

	&__fichi-list {
		margin-top: 94px;

		@include media-breakpoint-down(lg) {
			margin-top: 30px;
		}
	}

	&__list-item {
		border-radius: 50px;
		min-height: 720px;
		margin-bottom: 50px;

		@include media-breakpoint-down(xxl) {
			min-height: 600px;
		}

		@include media-breakpoint-down(xl) {
			min-height: 500px;
		}

		@include media-breakpoint-down(lg) {
			min-height: 400px;
		}

		@include media-breakpoint-down(md) {
			min-height: auto;
		}

		&__category {
			margin-bottom: 15px;
		}

		&__description {
			margin-top: 30px;
			margin-bottom: 44px;

			@include media-breakpoint-down(lg) {
				margin-top: 10px;
				margin-bottom: 20px;
			}

		}

		&__image {
			bottom: 0;
			right: 0;

			@media (max-height: 1700px) {
				right: -10%;
			}

			@include media-breakpoint-down(xxl) {
				width: 55%;
				height: 100%;
				right: 0
			}

			@include media-breakpoint-down(lg) {
				width: 50%;
			}

			img {
				@include media-breakpoint-down(xxl) {
					height: 100%;
					object-fit: cover;
					object-position: left;
				}
			}
		}
	}
}

.work-obj {
	padding-top: 78px;
	padding-bottom: 60px;

	@include media-breakpoint-down(md) {
		padding: 30px 0;
	}

	.work__list-item {
		align-items: start !important;
		padding-top: 106px;

		@include media-breakpoint-down(xl) {
			padding-top: 30px;
		}
	}

	&__image {
		bottom: -80px;
		left: -31px;

		@include media-breakpoint-down(xl) {
			bottom: -30px;
			left: 240px;
			width: 200px;
			height: auto;
		}

		@include media-breakpoint-down(md) {
			bottom: -50px;
			width: 100px;
			left: 0;
		}
	}
}