.btn-green {
	line-height: 48px;
	letter-spacing: -0.16px;
	padding: 16px 36px;
	border-radius: 19px;
	background-color: $green;
	transition: all .4s;

	&:hover {
		background-color: $purple;
		color: $light;
	}
}