.pt-1 {
	padding-top: 0.25rem !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pt-3 {
	padding-top: 1rem !important;
}

.pt-4 {
	padding-top: 1.5rem !important;
}

.pt-5 {
	padding-top: 60px !important;
}

.px-4 {
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.pl-0 {
	padding-left: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.lh-16 {
	line-height: 16px;
}
.mb-2 {
	margin-bottom: 10px !important;
}

.mb-4 {
	margin-bottom: 25px !important;
}

.mb-5 {
	margin-bottom: 35px !important;
}
