h1 {
	color: $primary;
	font-family: $font-family-asul;
	font-weight: 700;
	line-height: $line-height-h1;
	letter-spacing: -0.6px;

	@include media-breakpoint-down(md) {
		line-height: 44px;
	}
}

h2 {
	color: $primary;
	font-family: $font-family-asul;
	font-weight: 700;
	line-height: $line-height-h2;
	letter-spacing: -0.48px;

	@include media-breakpoint-down(md) {
		line-height: 40px;
	}
}

h4 {
	color: $primary;
	font-weight: 700;
	letter-spacing: -0.18px;
}

h6 {
	font-weight: 700;
	color: $purple;
	line-height: normal;
	letter-spacing: -0.14px;
}

p, a {
	font-size: 16px;
}

a {
	transition: all .4s;
}