.about-hero {
	background-repeat: no-repeat;
	background-position-y: 69px;
	background-position-x: 114px;
	padding-bottom: 305px;

	@include media-breakpoint-down(lg) {
		padding-bottom: 60px;
	}


	&__image {
		top: -214px;
		right: 284px;
		position: absolute;

		@include media-breakpoint-down(xxl) {
			top: -150px;
			right: 100px;
			max-width: 600px;
		}

		@include media-breakpoint-down(xl) {
			top: -120px;
			right: 90px;
			max-width: 500px;
		}

		@include media-breakpoint-down(lg) {
			margin: 10px auto;
			max-width: 400px;
			position: static;
		}

		@include media-breakpoint-down(md) {
			max-width: 100%;
		}
	}
}