.consulting-firm {
	padding-bottom: 50px;

	@include media-breakpoint-down(lg) {
		padding-bottom: 30px;
	}

	&__description {
		p {
			margin-bottom: 0;
		}
	}

	&__trusted-thound {
		&__text {
			max-width: 167px;
			p {
				line-height: 18px;
			}
		}

		&__icons {
			list-style: none;
			gap: 35px;
			padding-right: 102px;

			@include media-breakpoint-down(xxl) {
				padding-right: 0;
			}

			@include media-breakpoint-down(sm) {
				gap: 10px;
			}
		}
	}
}