.hero-home {
	padding-top: 155px;

	@include media-breakpoint-down(xl) {
		padding-top: 80px;
	}

	@include media-breakpoint-down(md) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__title {
		margin-bottom: 30px;

		@include media-breakpoint-down(lg) {
			margin-bottom: 25px;
		}
	}

	&__description {
		margin-bottom: 57px;

		@include media-breakpoint-down(lg) {
			margin-bottom: 25px;
		}
	}

	&__buttons {
		gap: 30px;

		&__item {
		}
	}

	&__image {
		position: absolute;
		top: -340px;
		right: 181px;

		@media (max-width: 1780px) {
			right: 80px;
		}

		@include media-breakpoint-down(xxl) {
			top: -165px;
			right: 70px;
			max-width: 600px;
		}

		@include media-breakpoint-down(xl) {
			max-width: 100%;
			position: initial;
		}

		@include media-breakpoint-down(lg) {
			width: 300px;
			margin: 25px auto 0 auto;
		}
	}
}